
@import "font.less";  // 字体文件
@import "color";// 颜色文件


*{
  padding: 0;
  margin: 0;
}
html {
  transition: color .3s ease-in, border .3s ease-in,background .3s ease-in;
  font-family: Roboto,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,serif;
  font-size: calc(100vw / 7.5); /** px换算rem  1rem=100px 设计图为750px的，把设计图中的px单位除以100就是rem单位 **/
  -webkit-font-smoothing: antialiased;
}
body{
  width: 100%;
  height: 100%;
  font-size: @font-size-28;
  // margin: 0 auto;
  // font-size: 14px;
}
ul li{
  list-style: none;

}
a{
  text-decoration: none;
  color: #999;

}

.flex-between-center{
  display: flex;justify-content: space-between;;align-items: center;
}
.text-center{
  text-align: center
}
input::-webkit-input-placeholder {
   /* placeholder颜色  */
   color: #aab2bd;
   /* placeholder字体大小  */
   font-size: 14px;
}

/**重写min-ui Navbar的样式**/
.mint-navbar .mint-tab-item:hover{
  cursor: pointer;
}

.mint-navbar .mint-tab-item .mint-tab-item-label{
  font-size: @font-size-30
}

.mint-navbar .mint-tab-item.is-selected .mint-tab-item-label{
  font-size: @font-size-34
}


/**重写 mt-button **/
.mint-button--default{
  height: .7rem!important;
  border: 1px solid @ye-color1!important;
  border-radius: .3rem!important;
  background: none!important;
  font-size: @font-size-28!important;
}
.mint-button--danger{
  border-radius: .3rem!important;
  background: none!important;
  border: 2px solid #ef4f4f!important;
  color: #ef4f4f!important;
}
.mint-button::after{
  background: none!important;
}

.mint-swipe-indicator.is-active {
  background: #ef4f4f!important;
  opacity: 1!important;
}

.mint-popup{
  border-radius: .15rem;

}


// 单行文本超出部分...显示
.ye-text-over{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

// 多行文本超出部分...
//  -webkit-line-clamp: 3; 显示的文本行数
.ye-more-text-over {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// flex布局两边对齐居中
.ye-flex-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 加粗
.ye-font-bold{
  font-weight: bold;
}





