*{
  padding: 0;
  margin: 0;
}
html {
  transition: color .3s ease-in, border .3s ease-in,background .3s ease-in;
  font-family: Roboto,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,serif;
  font-size: calc(100vw / 7.5); /** px换算rem  1rem=100px 设计图为750px的，把设计图中的px单位除以100就是rem单位 **/
  -webkit-font-smoothing: antialiased;
}
body{
  width:7.5rem;
  height: 100%;
  font-size: .28rem;
  margin: 0 auto;

}
